<template>
  <div class="form" :class="{desktop: !isMobile, mobile: isMobile}">
    <div class="form-block">
      <div class="form-block-title">
        <p class="form-block-title-text">
          Наименование товара
        </p>
        <img class="form-block-title-star" src="@/assets/images/red-star.svg" alt="">
      </div>
      <input v-model="form.title" class="form-block-input" type="text" placeholder="Введите наименование товара">
      <p v-if="findError('title')" class="form-block-error">
        Поле является обязательным
      </p>
    </div>
    <div class="form-textarea--block">
      <p class="form-block-title-text">
        Описание товара
      </p>
      <textarea v-model="form.description" class="form-textarea--block-textarea" placeholder="Введите описание товара" />
    </div>
    <div class="form-block">
      <div class="form-block-title">
        <p class="form-block-title-text">
          Ссылка на изображение товара
        </p>
        <img class="form-block-title-star" src="@/assets/images/red-star.svg" alt="">
      </div>
      <input v-model="form.link" class="form-block-input" type="text" placeholder="Введите ссылку">
      <p v-if="findError('link')" class="form-block-error">
        Поле является обязательным
      </p>
    </div>
    <div class="form-block">
      <div class="form-block-title">
        <p class="form-block-title-text">
          Цена товара
        </p>
        <img class="form-block-title-star" src="@/assets/images/red-star.svg" alt="">
      </div>
      <input v-model="form.price" class="form-block-input" type="text" placeholder="Введите цену">
      <p v-if="findError('price')" class="form-block-error">
        Поле является обязательным
      </p>
    </div>
    <button class="form-add disabled" :class="{active: unlockButton}" :disabled="!unlockButton" @click="addNewItem">
      <p class="form-add-text">
        Добавить товар
      </p>
    </button>
    <p v-if="showAlert" class="form-product--added">
      Товар добавлен
    </p>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
  name: 'Form',
  props: {
    isMobile: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      form: {
        id: null,
        title: null,
        description: null,
        link: null,
        price: null
      },
      errorFields: [],
      unlockButton: false,
      showAlert: false
    }
  },
  computed: {
    ...mapActions({
      setForm: 'form/setForm'
    })
  },
  watch: {
    form: {
      handler (val) {
        if (!this.form.id) {
          this.uuidv4()
        }
        this.isEmpty(val)
      },
      deep: true
    }
  },
  methods: {
    uuidv4 () {
      this.form.id = ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
        (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
      )
    },
    isEmpty (obj) {
      this.formValidation(obj)
      for (const key in obj) {
        if (obj[key] === '' || obj[key] === null) {
          this.unlockButton = false
          return
        } else {
          this.unlockButton = true
        }
      }
    },
    formValidation (obj) {
      for (const key in obj) {
        if (key === 'price' && obj[key] !== null && obj[key] !== '') {
          this.priceMask(obj[key])
        }
        if (obj[key] === '') {
          if (!this.errorFields.includes(key)) {
            this.errorFields.push(key)
          }
        } else if (this.errorFields.includes(key) && obj[key] !== null && key === 'title') {
          this.errorFields.splice(this.errorFields.indexOf(key), 1)
        }
      }
    },
    priceMask (value) {
      this.form.price = value.toString().replace(/ /g, '').replace(/\D/g, '').replace(/\B(?=(\d{3})+(?!\d))/g, ' ')
    },
    findError (param) {
      return this.errorFields.find(item => item === `${param}`)
    },
    addNewItem () {
      return new Promise((resolve) => {
        this.$store.dispatch('form/setForm', this.form)
        this.$emit('addNewItem', this.form)
        resolve()
      }).then(() => {
        this.showAlert = true
        this.form = {
          title: null,
          description: null,
          link: null,
          price: null
        }
        this.unlockButton = false
        setTimeout(() => {
          this.showAlert = false
        }, 1000)
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.form {
  width: 284px;
  height: 392px;
  border-radius: 4px;
  position: relative;

  &.desktop {
    background: #FFFEFB;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
    padding: 24px;
  }
  &.mobile {
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-left: 0;
    padding-bottom: 24px;
  }
  &-block {
    position: relative;
    display: flex;
    flex-direction: column;
    &-title {
      display: flex;
      flex-direction: row;
      &-text {
        font-size: 10px;
        letter-spacing: -0.02em;
        color: #49485E;
      }
      &-star {
        width: 4px;
        height: 4px;
      }
    }
    &-input {
      width: 100%;
      height: 36px;
      background: #FFFEFB;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      padding-left: 16px;
      padding-right: 16px;
      font-size: 12px;
      color: #3F3F3F;
      margin-top: 4px;
      margin-bottom: 16px;
      &:focus {
        outline: none;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      }
    }

    &-error {
      position: absolute;
      bottom: 5px;
      left: 0;
      font-size: 8px;
      line-height: 10px;
      letter-spacing: -0.02em;
      color: #FF8484;
    }
  }
  &-textarea--block {
    display: flex;
    flex-direction: column;
    &-textarea {
      width: 100%;
      height: 108px;
      background: #FFFEFB;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      resize: none;
      font-size: 12px;
      line-height: 15px;
      color: #3F3F3F;
      padding: 16px;
      margin-top: 4px;
      margin-bottom: 16px;
      &:focus {
        outline: none;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      }
    }
  }
  &-add {
    width: 284px;
    height: 36px;
    border-radius: 10px;
    margin-top: 8px;

    &.disabled {
      background: #EEEEEE;
      color: #B4B4B4;
    }

    &.active {
      background: #7BAE73;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      color: #FFFFFF;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
        transition: all 0.5s;
        transform: scale(1.01);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
      }
    }
    &-text {
      font-family: 'Inter', sans-serif !important;
      font-weight: 600;
      font-size: 12px;
      text-align: center;
      letter-spacing: -0.02em;
    }
  }

  &-product--added {
    position: absolute;
    bottom: 5px;
    font-size: 13px;
    color: #6eec2a;
  }
}
</style>
