<template>
  <div class="main" :class="{desktop: !isMobile, mobile: isMobile}">
    <div class="main-top" :class="{desktop: !isMobile, mobile: isMobile}">
      <h1 class="main-top-title" :class="{desktop: !isMobile, mobile: isMobile}">
        Добавление товара
      </h1>
      <Sort v-if="products.length !== 0" @changeSortType="changeSortType" />
    </div>
    <div class="main-content">
      <Form v-if="!isMobile" @addNewItem="addNewItem" />
      <Products :products="products" :show-preloader="showPreloader" :is-mobile="isMobile" />
    </div>
    <MobileSideBar v-if="isMobile" :is-mobile="isMobile" @addNewItem="addNewItem" />
  </div>
</template>
<script>
import Form from '~/components/Form.vue'
import Sort from '~/components/Sort.vue'
import Products from '~/components/Products.vue'
import MobileSideBar from '~/components/MobileSideBar.vue'
export default {
  name: 'Main',
  components: {
    Form,
    Sort,
    Products,
    MobileSideBar
  },

  data () {
    return {
      products: [],
      showPreloader: false
    }
  },
  computed: {
    isMobile () {
      if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        return true
      }
      return false
    }
  },
  created () {
    this.loadData()
  },
  methods: {
    addNewItem (item) {
      this.products.push(item)
    },
    changeSortType (sortType) {
      if (sortType === 'min-to-max') {
        this.sortMinToMax()
      } else if (sortType === 'max-to-min') {
        this.sortMaxToMin()
      } else if (sortType === 'name') {
        this.sortByName()
      }
    },
    sortMaxToMin () {
      this.products.sort((a, b) => {
        const priceA = Number(a.price.replace(/ /g, ''))
        const priceB = Number(b.price.replace(/ /g, ''))
        return priceB - priceA
      })
    },
    sortMinToMax () {
      this.products.sort((a, b) => {
        const priceA = Number(a.price.replace(/ /g, ''))
        const priceB = Number(b.price.replace(/ /g, ''))
        return priceA - priceB
      })
    },
    sortByName () {
      this.products.sort((a, b) => a.title.localeCompare(b.title))
    },
    loadData () {
      if (localStorage.length > 0) {
        this.showPreloader = true
        return new Promise((resolve) => {
          this.products = JSON.parse(localStorage.getItem('form'))
          setTimeout(() => {
            resolve()
          }, 500)
        }).then(() => {
          this.showPreloader = false
        })
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  &.desktop {
    padding: 16px 32px 0 32px;
  }
  &.mobile {
    padding-top: 10px;
  }
  &-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    &.desktop {
      width: 100%;
    }
    &.mobile {
      padding-left: 16px;
      padding-right: 16px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px;
      width: 100%;
    }
    &-title {
      font-weight: 600;
      color: #3F3F3F;
      &.desktop {
        font-size: 28px;
      }
      &.mobile {
        font-size: 20px;
      }
    }
  }
  &-content {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    width: 100%;
  }
}
</style>
