<template>
  <div class="sidebar">
    <img class="sidebar-image" src="@/assets/images/burger-menu.svg" alt="" @click="showForm = !showForm">
    <transition name="bounce">
      <div v-show="showForm" class="sidebar-opened">
        <img class="sidebar-image" src="@/assets/images/burger-menu.svg" alt="" @click="showForm = !showForm">
        <Form :is-mobile="isMobile" @addNewItem="addNewItemMobile" />
      </div>
    </transition>
  </div>
</template>

<script>
import Form from '~/components/Form.vue'
export default {
  name: 'MobileSideBar',
  components: {
    Form
  },
  props: {
    isMobile: {
      type: Boolean,
      default: false
    }
  },

  data () {
    return {
      showForm: false
    }
  },

  watch: {
    showForm: {
      handler (val) {
        if (val) {
          document.body.style.overflow = 'hidden'
        } else {
          document.body.style.overflow = ''
        }
      },
      deep: true
    }
  },
  methods: {
    addNewItemMobile (item) {
      this.$emit('addNewItem', item)
      setTimeout(() => {
        this.showForm = false
      }, 1000)
    }
  }
}
</script>

<style lang="scss" scoped>
.sidebar {
  position: absolute;
  z-index: 4;
  display: flex;
  width: 100%;
  &-image {
    position: absolute;
    top: 35px;
    left: 15px;
    width: 25px;
    height: 25px;
  }

  &-opened {
    width: 100%;
    height: 100vh;
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 40px 16px 16px;
  }
}
.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}
</style>
