<template>
  <div class="products" :class="{desktop: !isMobile, mobile: isMobile}">
    <transition-group v-if="!showPreloader" name="bounce" tag="div" class="products-items" :class="{desktop: !isMobile, mobile: isMobile}">
      <Product v-for="item in products" :key="item.id" :product="item" :is-mobile="isMobile" @removeItem="removeItem" />
    </transition-group>
    <p v-if="products.length === 0" class="products-empty">
      Нет товаров
    </p>
    <div class="products-preloader">
      <img v-if="showPreloader" class="products-preloader-image" src="@/assets/images/preloader.svg" alt="">
    </div>
  </div>
</template>

<script>
import Product from '~/components/Product.vue'
export default {
  name: 'Products',
  components: {
    Product
  },
  props: {
    products: {
      type: Array,
      required: true
    },
    showPreloader: {
      type: Boolean,
      default: false
    },
    isMobile: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    productsList () {
      return this.products
    }
  },
  methods: {
    removeItem (id) {
      const index = this.productsList.findIndex(item => item.id === id)
      this.productsList.splice(index, 1)
      this.$store.dispatch('form/removeItem', id)
    }
  }
}
</script>

<style lang="scss" scoped>
.products {
  position: relative;
  width: 100%;
  height: 100%;

  &.desktop {
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 3vh;
    margin-top: -3vh;
    height: 92vh;
  }
  &-empty {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 30px;
    color: #3F3F3F;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
    padding-left: 8px;
    width: 100%;

    &.mobile {
      padding-left: 0;
      justify-content: center;
    }
  }
  &-preloader {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 150px;
    width: 60px;
    height: 60px;
    &-image {
      @-webkit-keyframes rotating {
        from{
          -webkit-transform: rotate(0deg);
        }
        to{
          -webkit-transform: rotate(360deg);
        }
      }

      -webkit-animation: rotating 2s linear infinite;
    }
  }
}
.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
::-webkit-scrollbar {
  width: 0;
}
</style>
