<template>
  <div class="product" @mouseover="showBucket = true" @mouseleave="showBucket = false">
    <div ref="product" class="product-content">
      <img class="product-content-preview--image" :src="product.link" alt="">
      <div class="product-content-info">
        <p class="product-content-info-title">
          {{ product.title }}
        </p>
        <p class="product-content-info-description">
          {{ product.description }}
        </p>
        <p class="product-content-info-price">
          {{ product.price }} руб.
        </p>
      </div>
    </div>
    <div v-if="showBucket || isMobile" class="product-bucket" @click="removeItem">
      <img class="product-bucket-image" src="@/assets/images/bucket.svg" alt="">
    </div>
  </div>
</template>

<script>
export default {
  name: 'Product',
  props: {
    product: {
      type: Object,
      required: true
    },
    isMobile: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      showBucket: false
    }
  },
  methods: {
    removeItem () {
      this.$emit('removeItem', this.product.id)
    }
  }
}
</script>

<style lang="scss" scoped>
.product {
  position: relative;
  margin-bottom: 16px;
  margin-right: 8px;
  margin-left: 8px;
  transition: all 0.5s;
  &:hover {
    transform: scale(1.02);
    transition: all 0.5s;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.08), 0px 6px 10px rgba(0, 0, 0, 0.04);
    z-index: 2;
  }
  &-content {
    width: 332px;
    height: 423px;
    background: #FFFEFB;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    &.remove {
      @keyframes fadingLeft {
        0% {
          transform: scale(1);
        }
        30% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(0);
          opacity: 0;
        }
      }

      animation: fadingLeft 0.7s;
    }

    &-preview--image {
      overflow: hidden;
      min-height: 200px;
      max-height: 200px;
      width: 100%;
      object-fit: cover;
    }
    &-info {
      padding: 16px;

      &-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        color: #3F3F3F;
        height: 30px;
      }
      &-description {
        margin-top: 16px;
        font-size: 16px;
        line-height: 20px;
        color: #3F3F3F;
        width: 100%;
        height: 100px;
        overflow: auto;
      }
      &-price {
        margin-top: 16px;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        color: #3F3F3F;
      }
    }
  }
  &-bucket {
    cursor: pointer;
    position: absolute;
    top: -16px;
    right: -16px;
    width: 32px;
    height: 32px;
    background: #FF8484;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    &:hover {
      transition: all 0.5s;
      transform: scale(1.01);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    }
    &-image {
      width: 16px;
      height: 16px;
    }
  }
}
</style>
