<template>
  <div class="sort">
    <div class="sort-placeholder" @click="showOptions = !showOptions">
      <p class="sort-placeholder-text">
        {{ sortPlaceholder }}
      </p>
      <img class="sort-placeholder-arrow" :class="{rotate: showOptions}" src="@/assets/images/arrow.svg" alt="">
    </div>
    <div v-if="showOptions" class="sort-options">
      <div v-for="(option, index) in sortOptions" :key="index" class="sort-options-option" @click="changeSortType(option.sortType)">
        <p class="sort-options-option-text">
          {{ option.name }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Sort',

  data () {
    return {
      sortOptions: [
        {
          sortType: 'min-to-max',
          name: 'По цене min (от меньшего к большему).'
        },
        {
          sortType: 'max-to-min',
          name: 'По цене max (от большего к меньшему).'
        },
        {
          sortType: 'name',
          name: 'По наименованию.'
        }
      ],
      selectedOption: '',
      showOptions: false
    }
  },
  computed: {
    sortPlaceholder () {
      return this.selectedOption
        ? this.sortOptions.find(item => item.sortType === this.selectedOption).name.split('(')[0]
        : 'По умолчанию'
    }
  },
  methods: {
    changeSortType (type) {
      this.showOptions = false
      this.selectedOption = type
      this.$emit('changeSortType', type)
    }
  }
}
</script>

<style lang="scss" scoped>
.sort {
  position: relative;
  &-placeholder {
    width: 102px;
    height: 36px;
    background: #FFFEFB;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    &-text {
      font-size: 12px;
      color: #B4B4B4;
      user-select: none;
      white-space: nowrap;
    }
    &-arrow {
      width: 8px;
      height: 8px;
      user-select: none;
      transition: all 0.5s;
      &.rotate {
        transition: all 0.5s;
        transform: rotate(180deg);
      }
    }
  }

  &-options {
    z-index: 3;
    position: absolute;
    width: 190px;
    left: -68px;
    top: 40px;
    background: #FFFEFB;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &-option {
      height: 35px;
      display: flex;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      &:hover {
        background: #f3f3f3;
      }
      &-text {
        font-size: 12px;
        color: #B4B4B4;
        user-select: none;
      }
    }
  }
}
</style>
