html, body {
  margin: 0;
  padding: 0;
  background: #E5E5E5;
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  box-sizing: border-box;
  overflow-x: hidden !important;
}
input {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  padding: 0;
  margin: 0;
}
textarea {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  padding: 0;
  margin: 0;
}
div {
  padding: 0;
  margin: 0;
}
h1 {
  margin: 0;
}
p {
  margin: 0;
}
button {
  border: 0;
}
input {
  border: 0;
  box-sizing: border-box;
}
textarea {
  border: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: rgba(116, 116, 116, 0.2);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #929292;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #929292;
}
